#login {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .main-logo {
        border-radius: 0.25rem;
        margin-bottom: 2rem;
        height: 18rem;
    }

    .title {
        font-size: 3rem;
    }

    .login-form {
        margin-bottom: 20vh;

        .field {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1rem;
            font-size: 1.1rem;

            label {
                margin-right: 0.5rem;
            }
        }

        .buttons {
            display: flex;
            justify-content: space-between;
        }
    }
}
